[Unit]
Description=Xvfb virtual display for SPICE audio

[Service]
Type=simple
Environment=LIBGL_ALWAYS_SOFTWARE=true
Environment=__EGL_VENDOR_LIBRARY_FILENAMES=/usr/share/glvnd/egl_vendor.d/50_mesa.json
ExecStart=/usr/bin/Xvfb :1 -screen 0 1280x720x24 -noreset -nolisten tcp -extension GLX
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
